.contenedor{
	background: url('../../assets/img/login-fondo.jpg');
	background-size: cover;
	height: 100vh;
	padding: 0;
	margin: -8px;
}

form{
	color:#fff;
	width:400px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -100px 0 0 -196px;
	text-align: center;
	font-size: bold;
}